body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455
}

/* header */

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

address {
    font-style: normal;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.Studio {
    color: #2e2f42;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    ;
}

.header .container {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation-menu {
    display: inline-block;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-menu.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.header-navigation-menu.current {
    color: #404BBF;
}

.header-navigation-menu:hover,
.header-navigation-menu:focus {
    color: #404bbf;
}

.address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
}

.information {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.information:hover,
.information:focus {
    color: #404bbf;
}

.address-number:hover,
.address-number:focus {
    color: #404bbf;
}

/* Main */

.hero {
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-bc.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
    margin-bottom: 188px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: 1px dashed #9747ff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

.hero-features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.Features {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-icon {
    background-color: #F4F4FD;
    height: 112px;
    width: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.hero-list {
    display: flex;
    gap: 24px;
}

.hero-items {
    width: calc((100% - 72px) / 4);
}

.hero-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.hero-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-items {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
    padding-left: 0;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.social-icon {
    fill: #f4f4fd;
}

.team-container {
    text-align: center;
    padding: 32px 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    list-style: none;
    margin: 0;
    row-gap: 48px;
}

.portfolio-items {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;

}

.portfolio-thumb img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.portfolio-items:hover .portfolio-overlay {
    transform: translateY(0%);
    opacity: 1;
    pointer-events: auto;
}

.portfolio-thumb:hover,
.portfolio-container {
    box-shadow: rgba(0, 0, 0, 0.25);
}

.portfolio-items:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* Footer */

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.studio-footer {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-left {
    margin-right: 120px;
    max-width: 264px;
}

.footer-right {
    display: flex;
    flex-direction: column;

}

.social-list.foot {
    gap: 16px;
    margin-top: 0;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-link {
    width: 40px;
    height: 40px;

}

.footer-item {
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item:hover,
.footer-item:focus {
    background-color: #31D0AA;
}

.footer-form-right {
    margin-left: 80px;
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.form-lable-input {
    width: 264px;
    height: 40px;
    vertical-align: middle;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.form-lable-input::placeholder {
    color: #ffffff;
}

.footer-form-btn {
    height: 40px;
    min-width: 165px;
    background-color: #4D5AE5;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-form-icon {
    margin-left: 16px;
    fill: #ffffff;
}

.footer-form-btn:focus,
.footer-form-btn:hover {
    background-color: #404BBF;
}

/* MODAL */

.overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    background-color: #e7e9fc;
    border-radius: 50%;
    stroke-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.modal-close-icone {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    max-width: 360px;
    margin-bottom: 16px;
}

.modal-text-area {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area:focus {
    border-color: #4D5AE5;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-social-icon {
    fill: #4D5AE5;
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-text-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-filed.one {
    margin-bottom: 8px;
}

.modal-filed.backdown {
    margin-bottom: 16px;
}

.modal-social-icon {
    fill: #111111;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-cover {
    position: relative;
}

.checkbox {
    margin-bottom: 24px;
}

.checkbox-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.link-text {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.5px;
    color: #4d5ae5;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

.check-elements {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-check:checked+.checkbox-text .check-elements {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.modal-send {
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send:hover,
.modal-send:focus {
    background-color: #404BBF;
}